[Desktop Entry]
Version=1.0
Type=Application
Name= kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal

Exec=/home/ch4ser/.local/kitty.app/bin/kitty --class=terminal
Icon=/home/ch4ser/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
