[Desktop Entry]
Type=Application
Exec=pcmanfm %U
MimeType=inode/directory;
Icon=system-file-manager
Categories=FileManager;Utility;Core;Qt;
StartupNotify=true
Name= Filefm
GenericName=File Manager
Comment=Browse the file system and manage the files
Name[ar]=مدير الملفّات PCManFM-Qt
GenericName[ar]=مدير ملفّات
Comment[ar]=تصفّح نظام الملفّات وأدر ملفّاتك
Name[bg]=Файлов мениджер
GenericName[bg]=PCManFM-Qt
Comment[bg]=Преглеждане на системата и работа с файлове
Name[ca]=Gestor de fitxers PCManFM-Qt
GenericName[ca]=Gestor de fitxers
Comment[ca]=Navegueu pel sistema de fitxers i gestioneu els fitxers
Name[cs]=Správce souborů PCManFM-Qt
GenericName[cs]=Správce souborů
Comment[cs]=Procházejte souborový systém a spravujte soubory
Name[da]=PCManFM-Qt-filhåndtering
GenericName[da]=Filhåndtering
Comment[da]=Gennemse filsystemet og håndtér filerne
Name[de]=PCManFM-Qt
GenericName[de]=Dateimanager
Comment[de]=Dateimanager der Desktop-Umgebung LXQt
Name[el]=Διαχειριστής αρχείων PCManFM-Qt
GenericName[el]=Διαχειριστής αρχείων
Comment[el]=Περιήγηση του συστήματος αρχείων και διαχείριση των αρχείων
Name[es]=Gestor de archivos PCManFM-Qt
GenericName[es]=Gestor de archivos
Comment[es]=Explorar el sistema de archivos y gestionar los archivos
Name[et]=PCManFM-Qt failihaldur
GenericName[et]=Failihaldur
Comment[et]=Sirvi ja halda arvutis leiduvaid faile
Name[fr]=Gestionnaire de fichiers PCManFM-Qt
GenericName[fr]=Gestionnaire de fichiers
Comment[fr]=Parcourir le système de fichiers et gérer les fichiers
Name[gl]=Xestor de ficheiros PCManFM-Qt
GenericName[gl]=Xestor de ficheiros
Comment[gl]=Explorar o sistema de ficheiros e xestionar os ficheiro
Name[he]=מנהל הקבצים PCManFM-Qt
GenericName[he]=מנהל קבצים
Comment[he]=עיון במערכת הקבצים וניהול הקבצים
Name[hi]=PCManFM-Qt फ़ाइल प्रबंधक
GenericName[hi]=फ़ाइल प्रबंधक
Comment[hi]=फ़ाइल सिस्टम ब्राउज़ करें और फ़ाइलों का प्रबंधन करें
Name[hr]=PCManFM-Qt
GenericName[hr]=Upravljanje datotekama
Comment[hr]=Pregledaj datotečni sustav i upravljaj datotekama
Name[hu]=PCManFM-Qt fájlkezelő
GenericName[hu]=Fájlkezelő
Comment[hu]=Fájlok böngészése és karbantartása
Name[it]=Gestore file PCManFM-Qt
GenericName[it]=Gestore file
Comment[it]=Esplora e organizza file e cartelle
Name[ja]=PCManFM-Qt ファイルマネージャー
GenericName[ja]=ファイルマネージャー
Comment[ja]=ファイルやファイルシステムを管理します
Name[ko]=PCManFM-Qt 파일 관리자
GenericName[ko]=파일 관리자
Comment[ko]=파일 시스템을 찾아보고 파일을 관리합니다
Name[lt]=PCManFM-Qt failų tvarkytuvė
GenericName[lt]=Failų tvarkytuvė
Comment[lt]=Naršyti failų sistemą ir tvarkyti failus
Name[lv]=PCManFM-Qt failu pārvaldnieks
GenericName[lv]=Failu pārvaldnieks
Comment[lv]=Pārlūkojiet failu sistēmu un darbojieties ar failiem
Name[nb_NO]=Filbehandleren PCManFM-Qt
GenericName[nb_NO]=Filbehandler
Comment[nb_NO]=Utforsk filsystemet og håndter filer
Name[nl]=PCManFM-Qt-bestandsbeheerder
GenericName[nl]=Bestandsbeheerder
Comment[nl]=Beheer uw bestanden en verken uw bestandssysteem
Name[pl]=Menedżer plików PCManFM-Qt
GenericName[pl]=Menedżer plików
Comment[pl]=Przegląd systemu plików i zarządzanie plikami
Name[pt]=Gestor de ficheiros PCManFM-Qt
GenericName[pt]=Gestor de ficheiros
Comment[pt]=Explorar o sistema de ficheiros e gerir os ficheiros
Name[pt_BR]=Gerenciador de Arquivos PCManFM-Qt
GenericName[pt_BR]=Gerenciador de Arquivos
Comment[pt_BR]=Navegue pelo sistema de arquivos e gerencie arquivos e pastas
Name[ru]=Диспетчер файлов PCManFM-Qt
GenericName[ru]=Диспетчер файлов
Comment[ru]=Просматривайте файловую систему и управляйте файлами
Name[sk]=PCManFM-QT Správca súborov
GenericName[sk]=Správca súborov
Comment[sk]=Slúži na prehliadanie a spravovanie súborov
Name[sl]=Upravljalnik datotek PCManFM-Qt
GenericName[sl]=Upravljalnik datotek
Comment[sl]=Brskajte po datotečnem sistemu in upravljajte datoteke
Name[tr]=PCManFM-Qt Dosya Yöneticisi
GenericName[tr]=Dosya Yöneticisi
Comment[tr]=Dosya sistemini gezin ve dosyaları yönet
Name[uk]=Менеджер файлів PCManFM-Qt
GenericName[uk]=Менеджер файлів
Comment[uk]=Переглядайте файлову систему та керуйте файлами
Name[zh_CN]=PCManFM-Qt 文件管理器
GenericName[zh_CN]=文件管理器
Comment[zh_CN]=浏览文件系统并管理文件
