* {
  border: none;
  font-family: Firacode Nerd Font;
  font-size: 24px;
  min-height: 0;
}

window#waybar {
  background: #3b4252;
  background: #212124;
  /* background: #002b36; */
  color: white;
  opacity: 1;
}

#workspaces {
  background-color: #373737;
  background: #212124;
  color: white;
  margin: 0px;
  margin-left: 10px;
  border-radius: 0px;
}
#workspaces button {
  padding: 0 10px;
  color: white;
  min-width: 50px;
  /* border-top: 1px solid #212124; */
  border-bottom: 2px solid #212124;
  /* border-left: 1px solid #212124; */
  /* border-right: 1px solid #212124; */
}

#workspaces button.focused {
  color: #7aa2f7;
  border-radius: 1px;
  /* border-top: 1px solid #7aa2f7; */
  border-bottom: 2px solid #7aa2f7;
  /* border-left: 1px solid #7aa2f7; */
  /* border-right: 1px solid #7aa2f7; */
}

#workspaces button.active {
  color: #7aa2f7;
  border-radius: 1px;
  /* border-top: 1px solid #7aa2f7; */
  border-bottom: 2px solid #7dcfff;
  /* border-left: 1px solid #7aa2f7; */
  /* border-right: 1px solid #7aa2f7; */
}
#workspaces button:hover {
  color: white;
  background: #373737;
  border-radius: 0px;
}


#custom-gpu-usage, #custom-date, #battery, #pulseaudio, #network, #temperature,#cpu,#memory, #bluetooth, #custom-books, #custom-ML,#custom-forest-coin, #custom-forest, #custom-todo{
  /*background-color: #4c566a;*/
  background-color: #373737;
  background: #212124;
  padding: 0px 10px;
  margin: 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

#clock {
  background-color: #373737;
  background: #212124;
  padding: 0px 10px;
  margin: 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

#custom-date {
  color: #8fbcbb;
}


#clock {
  color: #ffffff;
  /* border-radius: 0px 10px 10px 0px; */
}

#battery {
  color: #a3be8c;
  /* border-radius: 10px 0px 0px 10px; */
}

#custom-gpu-usage {
  color: #FF69B4;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.charging {
  color: #a3be8c;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #2aa198;
  /* border-radius: 0px 10px 10px 0px; */
}

#memory {
  color: #2aa000;
}

#memory.critical {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature {
  color: #d08770;
}

#pulseaudio {
  color: #ebcb8b;
}

#bluetooth {
  color: #268bd2;
}

#custom-books {
  color: #ffffff;
}

#custom-todo {
  color: #7AA2F7;
  /* border-radius: 10px 0px 0px 10px; */
}

#custom-forest-coin {
  color: #00FFFF;
}

#custom-forest {
  color: #00FA9A;
  border-radius: 10px 0px 0px 10px;
}

